*>.page{
 overflow-y: auto !important;
 overflow-x: hidden !important;
}

.light ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  display: initial !important;
}

/* Track */
.light ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.light ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
.light ::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  display: initial !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDD;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFF;
}
header{
  background: inherit !important;
}
section h2{
  margin-top: 0;
}
.page{
  padding-top: 4rem !important;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 3rem !important;
}
[data-fullscreen="true"]{
  margin-inline: 0 !important;
  padding: 0 !important;
  padding-inline: 2rem !important;
  width: 100% !important;
}
[data-fullscreen="false"]{
  padding: 0 !important;
  padding-inline: 2rem !important;
  margin-inline: 0 !important;
}
section{
  height: fit-content !important;
  padding-inline: 0 !important;
  justify-content: flex-start !important;
  padding-top: 0 !important;
}

@media (min-width:760px){
  .page{
    padding-top: 90px !important;
  }
  [data-fullscreen="true"]{
    padding-inline: 10rem !important;
    padding-bottom: 4rem !important;
  }
  [data-fullscreen="false"]{
    padding-inline: 10rem !important;
    padding-bottom: 4rem !important;
  }
}