*>.page{
 overflow-y: auto !important;
 overflow-x: hidden !important;
 font-size: initial;
 font-weight: initial;
}

.light ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  display: initial !important;
}

/* Track */
.light ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.light ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
.light ::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  display: initial !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDD;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFF;
}
header{
  background: inherit !important;
}