.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.button {
  padding-inline: 4rem;
  padding-block: 1rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  transition: 1s all ease;
  font-size: var(--step-1);
  cursor: pointer;
  margin-top: 4rem;
  width: fit-content;
  font-weight: bolder;
}
.button:hover {
  color: pink !important;
  border-color: pink !important;
}
.button a {
  text-decoration: none;
  color: inherit;
}
.invitation {
  margin-right: 0;
  width: calc(100% - 300px - 4rem - 2rem);
  padding: 2rem;
  margin-right: 4rem;
  margin-left: 2rem;
  transition: 0.7s all ease;
  transform: scale(0.65);
}
.container[data-revert="true"]:first-child {
  margin-left: 0;
}
.invitation[data-fullscreen="true"]{
  width: 90%;
  margin-left: 3rem;
}
.invitation > h2 {
  font-size: var(--step-4);
}

.invitation > p {
  font-size: var(--step-1);
}
.container[data-revert="true"] {
  flex-direction: row-reverse;
}
.container[data-revert="true"] > div:first-child {
  margin-inline: 1rem;
}
.container[data-revert="true"] > div:last-child {
  margin-left: 1rem;
}

@media (max-width: 59.375em) {
  .container,
  .container[data-revert="true"] {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .invitation {
    width: 100%;
    padding: 0;
    padding-inline: 1rem;
    margin: 0;
  }
  .invitation > h2 {
    margin: 0;
    font-size: var(--step-2);
    text-align: center;
    margin-block: 2rem;
  }
  .invitation {
    font-size: var(--step-0);
    text-align: justify;
    
  }
  .invitation[data-fullscreen="true"]{
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
  }
  .button {
    margin-top: 0.6rem;
    padding-inline: 2rem;
    font-size: var(--step-0);
    font-weight: 500;
  }
}
@media (max-width: 37.5em) {
  .invitation[data-fullscreen="true"]{
    padding-left: 1rem;
  }
}
@media ((max-height: 34.375em) and (max-width: 25em)) or (max-width: 17.5em) or ((max-height: 38.75em ) and (max-width: 50em)) {
  .container * {
    font-size: 1rem !important;
  }
  .button {
    padding-block: 0.5rem;
    margin-bottom: 1rem;
  }
  .invitation > h2 {
    margin: 0;
    font-size: var(--step-1) !important;
    text-align: center;
    margin-block: 0.5rem;
  }
}
@media (min-height: 43.75em) and (max-width: 28.125em) {
  .button {
    margin-top: 3rem;
  }
}
